@import '../helpers/mixins'
@import '../helpers/variables'

body
  text-align: center

html
  background-color: #ddd

#main
  background-color: #ddd
  .title
    font-size: 26px
  .text1
    font-size: 18px
  .yinyang
    background-color: white
    border-radius: 50px

.layout-content
  margin-top: 0
