@import '../helpers/mixins'
@import '../helpers/variables'
@import '../helpers/colors'

.matches-page-container
  background-color: white
  border: solid black 2px
  max-width: $content_max_width
  margin: 20px auto
  text-align: left
  .header
    border-bottom: solid black 2px
    font-size: 30px
    padding: 10px 10px
  .match-items
  .match-item
    padding: 10px 10px
    border-bottom: solid black 2px
    cursor: pointer
    &:last-child
      border-bottom: none
    &:hover
      background: #EEE
  .section
    padding: 10px
    border-bottom: solid black 2px
    &._1
    &._2
    &._3
  .headline
    font-size: 28px
  .bet-status
    .status
      text-align: center
      height: auto
      &.bet-can-do
      &.bet-done
        color: black
      &.bet-closed
        color: black


