@import '../helpers/mixins'
@import '../helpers/variables'
@import '../helpers/colors'

.bet-icon
  width: 40px
  height: 40px

.icon_40x40
  width: 40px
  height: 40px
  position: absolute
  top: 0
  left: 0

.sections-wrap
  border-radius: 5px
  overflow: hidden

.matches-page-container
  padding: 0 10px
  // background-color: white
  // border: solid black 2px
  max-width: $content_max_width
  margin: 20px auto
  text-align: left
  border-radius: 5px

  .header
    border-bottom: solid black 2px
    font-size: 30px
    padding: 10px 10px
    display: none
  .match-items
  .no-results
    text-align: center
    background: $blue
    font-size: 18px
    border-radius: 5px
    padding: 10px
    border: solid black 2px
    border-right: none
    border-bottom: none

  .match-item
    background: linear-gradient(to right, $blue 0%, $blue_light 100%)
    border: solid black 2px
    border-right: none
    border-bottom: none

    padding: 10px 10px
    // border-bottom: solid black 2px
    cursor: pointer
    border-radius: 5px
    &:last-child
      border-bottom: none
    &:hover
      background: $blue
    .left-80
      padding-left: 50px
      position: relative
  .bet-btn
    border-radius: 50px
    min-height: 40px
    padding: 10px
    text-align: center
    background: $gold
    .fa
      font-size: 40px
    .bet-icon, .text
      display: inline-block
      vertical-align: top
    .text
      font-size: 24px
      margin-top: 3px
      margin-left: 5px

  .section
    position: relative
    padding: 10px
    background: linear-gradient(to right, $blue 0%, $blue_light 100%)
    &._1
    &._2
      padding: 20px 10px
      text-align: center
      background: $blue
      box-shadow: -1px 1px 3px #666 inset
    &._3
      border-top: solid black 2px
  .amt
    width: 100%
    min-height: 45px
  .for
    font-size: 24px
    margin-top: 30px
  .choose-team
    min-height: 40px
    border-radius: 5px
    position: relative
    overflow: hidden
    font-size: 18px
  .team-1, .team-2
    padding-top: 5px
    &.chosen
      background: black
      color: white
  .section-left
    padding-left: 50px
    position: relative
  .section-right
    position: absolute
    right: 0
    width: 20%
    height: 100%
    top: 0
    border: none
    border-left: solid black 2px
    border-radius: 0
    font-size: 28px
    line-height: 35px
    box-shadow: none
  .headline
    font-size: 28px
    > span, > a
      display: inline-block
  .bet-status
    .status
      text-align: center
      height: auto
      &.bet-can-do
      &.bet-done
        color: black
      &.bet-closed
        color: black
  .bet-error
    background: white
    display: inline-block
    border-radius: 5px
    padding: 5px
  .bet-success-msg
    font-size: 28px
    color: $green
    font-size: 28px
    background: $blue_light
    border-radius: 5px
    border: solid black 2px
    text-shadow: 1px 1px black


  .section-header
  .current-bets
    font-size: 28px
  .bet-list
    background: #eee
    border: solid black 1px
    border-radius: 5px
    overflow: hidden
  .bet-item
    padding: 10px 10px
    border-bottom: solid black 1px
    &:last-child
      border-bottom: none
    &.new
      background: $green


  @media #{$mobile_phone}
    .headline, .bet-status
      font-size: 18px
      line-height: normal
    .bet-btn
      .text
        display: none

  @media #{$mobile_tablet}
    .bet-btn
      .text
        display: none
    .headline, .bet-status
      font-size: 18px
      line-height: normal

