@import 'compass/css3'

.clearfix
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both

.hidden
  display: none

html
  overflow: hidden

*
  +box-sizing(border-box)