@import 'compass/css3'
@import 'default'

body
  background: white
  text-align: center

#container
  max-width: 960px
  margin: 10px auto 10px

  .head
    padding: 10px
    border: solid black 1px
    border-bottom: none
  .content
    padding: 10px
    border: solid black 1px

.container
  border: solid black 1px
  padding: 10px
  margin: 0 0 10px 0

.one
  color: red
  // +vendor-prefix(animation, fadeOut 2.0s infinite)

.two
  color: green

.three
  color: blue

.something
  +vendor-prefix(transition, all 1 ease-in-out)
  
