<div class="component-wrap clearfix">
  <div class="item-name"> Arrow </div>
  <div class="info-wrap clearfix">
    <div class="item-class f-left"> .arrow ( .up | .right | .down | .left ) </div>
    <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
  </div>
  <div class="margin-5"></div>
  <pre class="hidden" ><code data-language="html"
>&#x3C;div class=&#x22;item-wrap left-25&#x22;&#x3E;
  &#x3C;div class=&#x22;arrow up&#x22;&#x3E;&#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;item-wrap left-25&#x22;&#x3E;
  &#x3C;div class=&#x22;arrow right&#x22;&#x3E;&#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;item-wrap left-25&#x22;&#x3E;
  &#x3C;div class=&#x22;arrow down&#x22;&#x3E;&#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;item-wrap left-25&#x22;&#x3E;
  &#x3C;div class=&#x22;arrow left&#x22;&#x3E;&#x3C;/div&#x3E;
&#x3C;/div&#x3E;</code></pre>
  <div class="margin-5"></div>
  <div class="item-wrap left-25">
    <div class="arrow up"></div>
  </div>
  <div class="item-wrap left-25">
    <div class="arrow right"></div>
  </div>
  <div class="item-wrap left-25">
    <div class="arrow down"></div>
  </div>
  <div class="item-wrap left-25">
    <div class="arrow left"></div>
  </div>
</div>
<div class="margin-20"></div>

<div class="component-wrap clearfix">
  <div class="item-name"> Border Arrow </div>
  <div class="info-wrap clearfix">
    <div class="item-class f-left"> .arrow ( .up | .right | .down | .left ) </div>
    <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
  </div>
  <div class="margin-5"></div>
  <pre class="hidden" ><code data-language="html"
>&#x3C;div class=&#x22;item-wrap left-25&#x22;&#x3E;
  &#x3C;div class=&#x22;container border-arrow up&#x22;&#x3E;.container&#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;item-wrap left-25&#x22;&#x3E;
  &#x3C;div class=&#x22;btn border-arrow right&#x22;&#x3E;.btn&#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;item-wrap left-25&#x22;&#x3E;
  &#x3C;div class=&#x22;container border-arrow down&#x22;&#x3E;.container&#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;item-wrap left-25&#x22;&#x3E;
  &#x3C;div class=&#x22;btn border-arrow left&#x22;&#x3E;.btn&#x3C;/div&#x3E;
&#x3C;/div&#x3E;</code></pre>
  <div class="margin-5"></div>
  <div class="item-wrap left-25">
    <div class="container border-arrow up">.container</div>
  </div>
  <div class="item-wrap left-25">
    <div class="btn border-arrow right">.btn</div>
  </div>
  <div class="item-wrap left-25">
    <div class="container border-arrow down">.container</div>
  </div>
  <div class="item-wrap left-25">
    <div class="btn border-arrow left">.btn</div>
  </div>
</div>
<div class="margin-20"></div>

