<div class="item-wrap left-50 l">
  <div class="component-wrap">
    <div class="item-name"> Text Input </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .input </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&#x3C;input class=&#x22;input&#x22; type=&#x22;text&#x22; placeholder=&#x22;Enter your name&#x22; /&#x3E;</code></pre>
    <div class="margin-5"></div>
    <input class="input" type="text" placeholder="Enter your name" />
  </div>
</div>
<div class="margin-20 left-100 tablet-only"></div>
<div class="item-wrap left-50 r">
  <div class="component-wrap">
    <div class="item-name"> Button </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .btn </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&#x3C;div class=&#x22;btn&#x22;&#x3E; Button &#x3C;/div&#x3E;</code></pre>
    <div class="margin-5"></div>
    <div class="btn"> Button </div>
  </div>
</div>
<div class="margin-20 left-100"></div>

<div class="item-wrap left-50 l">
  <div class="component-wrap">
    <div class="item-name"> Select </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .select </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&#x3C;select class=&#x22;select&#x22; name=&#x22;name&#x22; &#x3E;
    &#x3C;option value=&#x22;1&#x22;&#x3E; Option 1 &#x3C;/option&#x3E;
    &#x3C;option value=&#x22;2&#x22;&#x3E; Option 2 &#x3C;/option&#x3E;
    &#x3C;option value=&#x22;3&#x22;&#x3E; Option 3 &#x3C;/option&#x3E;
  &#x3C;/select&#x3E;</code></pre>
    <div class="margin-5"></div>
    <select class="select" name="name" >
      <option value="1"> Option 1 </option>
      <option value="2"> Option 2 </option>
      <option value="3"> Option 3 </option>
    </select>
  </div>
</div>
<div class="margin-20 left-100 tablet-only"></div>
<div class="item-wrap left-50 r">
  <div class="component-wrap">
    <div class="item-name"> Textarea </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .textarea </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&#x3C;textarea class=&#x22;textarea&#x22; type=&#x22;textarea&#x22; placeholder=&#x22;Enter your text&#x22;&#x3E;&#x3C;/textarea&#x3E;</code></pre>
    <div class="margin-5"></div>
    <textarea class="textarea" type="textarea" placeholder="Enter your text"></textarea>
  </div>
</div>
<div class="margin-20 left-100"></div>

<div class="item-wrap left-100">
  <div class="component-wrap">
    <div class="item-name"> Checkbox </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .checkbox + .label </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&#x3C;form&#x3E;
    &#x3C;input id=&#x22;checkbox1&#x22; type=&#x22;checkbox&#x22; name=&#x22;name&#x22; value=&#x22;One&#x22; class=&#x22;checkbox&#x22;&#x3E;
    &#x3C;label for=&#x22;checkbox1&#x22; class=&#x22;label&#x22;&#x3E;
      &#x3C;div class=&#x22;checked-box&#x22;&#x3E;&#x3C;/div&#x3E;
      &#x3C;div class=&#x22;unchecked-box&#x22;&#x3E;&#x3C;/div&#x3E;
      One
    &#x3C;/label&#x3E;
    &#x3C;input id=&#x22;checkbox2&#x22; type=&#x22;checkbox&#x22; name=&#x22;name&#x22; value=&#x22;Two&#x22; class=&#x22;checkbox&#x22;&#x3E;
    &#x3C;label for=&#x22;checkbox2&#x22; class=&#x22;label&#x22;&#x3E;
      &#x3C;div class=&#x22;checked-box&#x22;&#x3E;&#x3C;/div&#x3E;
      &#x3C;div class=&#x22;unchecked-box&#x22;&#x3E;&#x3C;/div&#x3E;
      Two
    &#x3C;/label&#x3E;
    &#x3C;input id=&#x22;checkbox3&#x22; type=&#x22;checkbox&#x22; name=&#x22;name&#x22; value=&#x22;Three&#x22; class=&#x22;checkbox&#x22;&#x3E;
    &#x3C;label for=&#x22;checkbox3&#x22; class=&#x22;label&#x22;&#x3E;
      &#x3C;div class=&#x22;checked-box&#x22;&#x3E;&#x3C;/div&#x3E;
      &#x3C;div class=&#x22;unchecked-box&#x22;&#x3E;&#x3C;/div&#x3E;
      Three
    &#x3C;/label&#x3E;
  &#x3C;/form&#x3E;</code></pre>
    <div class="margin-5"></div>
    <form>
      <input id="checkbox1" type="checkbox" name="name" value="One" class="checkbox">
      <label for="checkbox1" class="label">
        <div class="checked-box"></div>
        <div class="unchecked-box"></div>
        One
      </label>
      <input id="checkbox2" type="checkbox" name="name" value="Two" class="checkbox">
      <label for="checkbox2" class="label">
        <div class="checked-box"></div>
        <div class="unchecked-box"></div>
        Two
      </label>
      <input id="checkbox3" type="checkbox" name="name" value="Three" class="checkbox">
      <label for="checkbox3" class="label">
        <div class="checked-box"></div>
        <div class="unchecked-box"></div>
        Three
      </label>
    </form>
  </div>
</div>
<div class="margin-20 left-100"></div>

<div class="item-wrap left-100">
  <div class="component-wrap">
    <div class="item-name"> Radio </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .radio + .label  </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&#x3C;form&#x3E;
    &#x3C;input id=&#x22;radio1&#x22; type=&#x22;radio&#x22; name=&#x22;name&#x22; value=&#x22;One&#x22; class=&#x22;radio&#x22;&#x3E;
    &#x3C;label for=&#x22;radio1&#x22; class=&#x22;label&#x22;&#x3E;
      &#x3C;div class=&#x22;checked-radio&#x22;&#x3E;&#x3C;/div&#x3E;
      &#x3C;div class=&#x22;unchecked-radio&#x22;&#x3E;&#x3C;/div&#x3E;
      One
    &#x3C;/label&#x3E;
    &#x3C;input id=&#x22;radio2&#x22; type=&#x22;radio&#x22; name=&#x22;name&#x22; value=&#x22;Two&#x22; class=&#x22;radio&#x22;&#x3E;
    &#x3C;label for=&#x22;radio2&#x22; class=&#x22;label&#x22;&#x3E;
      &#x3C;div class=&#x22;checked-radio&#x22;&#x3E;&#x3C;/div&#x3E;
      &#x3C;div class=&#x22;unchecked-radio&#x22;&#x3E;&#x3C;/div&#x3E;
      Two
    &#x3C;/label&#x3E;
    &#x3C;input id=&#x22;radio3&#x22; type=&#x22;radio&#x22; name=&#x22;name&#x22; value=&#x22;Three&#x22; class=&#x22;radio&#x22;&#x3E;
    &#x3C;label for=&#x22;radio3&#x22; class=&#x22;label&#x22;&#x3E;
      &#x3C;div class=&#x22;checked-radio&#x22;&#x3E;&#x3C;/div&#x3E;
      &#x3C;div class=&#x22;unchecked-radio&#x22;&#x3E;&#x3C;/div&#x3E;
      Three
    &#x3C;/label&#x3E;    
  &#x3C;/form&#x3E;</code></pre>
    <div class="margin-5"></div>
    <form>
      <input id="radio1" type="radio" name="name" value="One" class="radio">
      <label for="radio1" class="label">
        <div class="checked-radio"></div>
        <div class="unchecked-radio"></div>
        One
      </label>
      <input id="radio2" type="radio" name="name" value="Two" class="radio">
      <label for="radio2" class="label">
        <div class="checked-radio"></div>
        <div class="unchecked-radio"></div>
        Two
      </label>
      <input id="radio3" type="radio" name="name" value="Three" class="radio">
      <label for="radio3" class="label">
        <div class="checked-radio"></div>
        <div class="unchecked-radio"></div>
        Three
      </label>    
    </form>
  </div>
</div>
<div class="margin-20 left-100"></div>












