<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
    <link rel="stylesheet" href="/css/reset.css" >
    <link rel="stylesheet" href="/css/default.css" >
    <link rel="stylesheet" href="/css/main.css" >
  </head>
  <body>
    <div id="container">
      <div class="head"> Front End Boilerplate </div>
      <div class="content">
        <div class="container">
          <div class="text" > CSS -> SASS + COMPASS </div>
          <div class="text" > JS -> jQuery + lodash </div>
          <div class="text" > Assets -> Grunt + Livereload </div>
          <div class="text" > Server -> Nodejs + Express </div>
        </div>
        <div class="container">
          <% include ./partial_1 %>
        </div>
        <div class="container">
          <% include ./partial_2 %>
        </div>
      </div>
    </div>
  </body>
</html>