<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/reset.css" >
    <link rel="stylesheet" href="/css/main.css" >
  </head>
  <body>
    <div id="navbar">
      navbar
    <div>
    <div id="sidebar">
      sidebar
    <div>
    <div id="content">
      content
    <div>
  </body>             
</html>