<!DOCTYPE html>
<html>
  <head>
    <title> Front End Boilerplate </title>
    <!-- For mobile responsive sites only -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- *** -->
    <!-- CSS -->
    <!-- *** -->
    <% include ./core_css %>
    <link rel="stylesheet" href="/css/pages/main.css" >
    
  </head>
  <body>
    <div id="main" class="layout-content" >
      <div class="head"> Front End Boilerplate </div>
      <div class="content">
        <div class="container">
          <div class="text" > CSS -> SASS + COMPASS </div>
          <div class="text" > JS -> jQuery + lodash </div>
          <div class="text" > Assets -> Grunt + Livereload </div>
          <div class="text" > Server -> Nodejs + Express </div>
        </div>
        <div class="container">
          <% include ./partial_1 %>
        </div>
        <div class="container">
          <% include ./partial_2 %>
        </div>
      </div>
    </div>

    <!-- ** -->
    <!-- JS -->
    <!-- ** -->
    <% include ./core_js %>
  </body>
</html>