<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/reset.css" >
    <link rel="stylesheet" href="/css/main.css" >
  </head>
  <body>
    <div id="navbar" class="sidebar-open clearfix">
      <div class="navbar-left">
        navbar-left
      </div>
      <div class="navbar-center">
        navbar-center
      </div>
      <div class="navbar-right">
        navbar-right
      </div>
    </div>
    <div id="sidebar" class="sidebar-open">
      sidebar
    </div>
    <button id="show-sidebar-2" > S2 </button>
    <div id="sidebar-2" class="sidebar-closed hidden">
      sidebar-2
      <button class="close-sidebar">X</button>
    </div>
    <div id="content-wrap" class="sidebar-open">
      <div id="content">
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
        content <br/><br/><br/><br/><br/><br/><br/>
      </div>
    </div>
  </body>             
</html>