<div class="item-wrap left-50 l">
  <div class="component-wrap">
    <div class="item-name"> Spinner </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .spinner </div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&#x3C;div class=&#x22;spinner&#x22;&#x3E;&#x3C;/div&#x3E;</code></pre>
    <div class="margin-5"></div>
    <div class="spinner"></div>
  </div>
</div>
<div class="item-wrap left-50 r">
  <div class="component-wrap">
    <div class="item-name"> Rotate </div>
    <div class="info-wrap clearfix">
      <div class="item-class f-left"> .rotate ( .clockwise | .c-clockwise )</div>
      <div class="toggle-code f-right btn"> &#x3C;/&#x3E; </div>
    </div>
    <div class="margin-5"></div>
    <pre class="hidden" ><code data-language="html"
  >&#x3C;div class=&#x22;item-wrap left-50&#x22;&#x3E;
  &#x3C;div class=&#x22;spinner rotate clockwise&#x22;&#x3E;&#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;item-wrap left-50&#x22;&#x3E;
  &#x3C;div class=&#x22;spinner rotate c-clockwise&#x22;&#x3E;&#x3C;/div&#x3E;
&#x3C;/div&#x3E;</code></pre>
    <div class="margin-5"></div>
<div class="item-wrap left-50">
  <div class="spinner rotate clockwise"></div>
</div>
<div class="item-wrap left-50">
  <div class="spinner rotate c-clockwise"></div>
</div>
  </div>
</div>