/*
Error: File to import not found or unreadable: default.
       Load paths:
         Compass::SpriteImporter
         /Users/davidschwartz/git-projects/node_FE/public/sass
         /Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets
        on line 2 of /Users/davidschwartz/git-projects/node_FE/public/sass/main_page.sass

1: @import 'compass/css3'
2: @import 'default'
3: 
4: body
5:   text-align: center
6: 
7: #main

Backtrace:
/Users/davidschwartz/git-projects/node_FE/public/sass/main_page.sass:2
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/import_node.rb:45:in `import'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/engine.rb:278:in `render'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/bin/compass:23:in `load'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/bin/compass:23:in `<main>'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/davidschwartz/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: default.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/davidschwartz/git-projects/node_FE/public/sass\A          /Users/davidschwartz/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets\A         on line 2 of /Users/davidschwartz/git-projects/node_FE/public/sass/main_page.sass\A \A 1: @import 'compass/css3'\A 2: @import 'default'\A 3: \A 4: body\A 5:   text-align: center\A 6: \A 7: #main"; }
