/* line 6, ../sass/main.sass */
#navbar {
  background: #eeeeee;
}

/* line 8, ../sass/main.sass */
#sidebar {
  background: #cccccc;
}

/* line 10, ../sass/main.sass */
#content {
  background: #aaaaaa;
}
