@import '../helpers/mixins'
@import '../helpers/variables'
@import '../helpers/colors'

// layout_extend.sass
.fixed-navbar
  background-color: #f8f8f8
  box-shadow: 0 2px 2px 0 #dbdbdb
  background-color: $color-primary-0
.fixed-scroll-wrap
  background-color: $color-primary-1
