@import '../helpers/mixins'
@import '../helpers/variables'
@import '../helpers/colors'

// layout_extend.sass
.fixed-navbar
  background-color: #f8f8f8
  // box-shadow: 0 2px 2px 0 #dbdbdb
  background-color: white
  border-bottom: solid black 2px
.fixed-scroll-wrap
  background-color: $color-primary-1
.navbar-right
  height: 100%
  width: 230px
  background: white
.stats
  text-align: left
  width: 100px
  white-space: nowrap
  word-break: break-word
.stat-text
  font-size: 12px
  color: black
  // display: inline-block
.navbar-left
  height: 100%
  padding: 10px
.icon-link
  width: 45px
  cursor: pointer
.navbar-center
  position: absolute
  left: 50%
  margin-left: -82px
  height: 100%
  padding: 10px
.logo-text
  display: inline-block
  vertical-align: top
  height: 100%
  font-size: 28px
  margin-right: 10px
.logo-icon
  display: inline-block
  vertical-align: top
  height: 100%
  width: 38px
  border-radius: 100px
  background-color: orange
  color: black
  font-size: 18px
  padding-top: 5px
  border: solid black 2px

.navbar-item
  border: solid black 1px
  border-bottom: none
  height: 100%
  padding-top: 18px
  &:hover
    box-shadow: 0px 0px 4px #000
  &:active
    background: #EEE
    transition: transform 0.0s

.dropdown
  height: auto

  .dropdown-head, .dropdown-item
    border: solid black 1px
    height: 100%
    padding: 18px 0
    &:hover
      box-shadow: 0px 0px 4px #000
    &:active
      background: #EEE
      transition: transform 0.0s
  .dropdown-head
    background: none
    &.open
      background: #EEE
  .dropdown-items
    height: 100%
  .dropdown-item
    padding: 10px 0
    background: white
    vertical-align: center
  // .dropdown-head
  //   padding: 18px 0
  // .dropdown-item
  //   padding: 18px 0

@media #{$mobile_phone}
  .navbar-right
    width: 230px
@media #{$mobile_tablet}
