@import '../helpers/mixins'
@import '../helpers/variables'

.style-item
  display: inline-block
  vertical-align: top
  margin: 10px
  
.container
  display: inline-block
  vertical-align: top
  padding: 10px
  border: solid black 1px
  border-radius: 5px
  box-shadow: 2px 2px 4px #999
  
.arrow
  display: inline-block
  vertical-align: top
  &.up
    +triangle(25px, 50px, up,  black )
  &.right
    +triangle(25px, 50px, right,  black )
  &.down
    +triangle(25px, 50px, down,  black )
  &.left
    +triangle(25px, 50px, left,  black )

.border-arrow
  +border-arrow-directions( 5px, 10px, black )
  &.big
    +border-arrow-directions( 10px, 20px, black )

.border-arrow
  &.up.offset
    &:after
      margin-left: 20px

table.table
  width: 100%
  td
    border: solid black 1px
    height: 50px
    vertical-align: middle
    padding: 20px 0

.section
  overflow: hidden

.anchor-link, a.anchor-link
  text-decoration: none
  color: black
  text-align: left
  display: block
  .anchor-tip
    display: none
  .text:hover
    .anchor-tip
      display: inline


.drop-head
  border-bottom: solid black 5px
  text-align: left
  padding: 5px 15px
  cursor: pointer
  .text
    font-size: 24px
  &.active
    border-bottom: solid black 3px
    box-shadow: 0px 0px 4px #000

.component-wrap
  position: relative
  text-align: left
  .item-name
    font-size: 16px
    font-weight: 500  
  .item-class
  .toggle-code
    position: absolute
    top: 0
    right: 0

.drop-content
  padding: 15px 15px
  text-align: left

.item-wrap
  padding: 0
  text-align: center
  &.left-50
    &.l
      padding: 10px 10px 0 0
    &.r
      padding: 10px 0 0 10px
@media #{$mobile_phone}
  .item-wrap.left-50
    width: 100%
    padding: 0

@media #{$mobile_tablet}
  .item-wrap.left-50
    width: 100%
    padding: 0
    &.l
      padding: 0
    &.r
      padding: 0


.arrow-drop
  +triangle-directions( 10px, 20px, black )
  position: relative
  top: 5px
  right: 5px














