@import '../helpers/mixins'
@import '../helpers/variables'
@import '../helpers/colors'

// forms_extend
.input
  width: 100%

.login-page-container
  width: 300px
  margin: 50px auto 0

.generic-form
  text-align: left
  max-width: 320px
  margin: auto
  display: block
  background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%)
  width: 100%
  border: solid $gold_darker_2 2px
  border-right: none
  border-bottom: none

  .form-title
    font-size: 18px
  .action-item
    padding: 10px
  .social-option-img
    width: 50px
    cursor: pointer
