@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700,300italic,400italic,500italic);
/* line 1, ../../sass/base/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 9, ../../sass/base/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 12, ../../sass/base/_reset.sass */
body {
  line-height: 1;
}

/* line 15, ../../sass/base/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 18, ../../sass/base/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 22, ../../sass/base/_reset.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 27, ../../sass/base/_reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 31, ../../sass/base/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../../sass/base/_default.sass */
.clearfix:before {
  content: " ";
  display: table;
}
/* line 10, ../../sass/base/_default.sass */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 15, ../../sass/base/_default.sass */
.hidden {
  display: none;
}

/* line 18, ../../sass/base/_default.sass */
html {
  overflow: auto;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}

/* line 23, ../../sass/base/_default.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../../sass/base/_default.sass */
body {
  text-align: center;
}

/* line 38, ../../sass/base/_default.sass */
.left-1 {
  float: left;
  width: "1%";
}

/* line 38, ../../sass/base/_default.sass */
.left-2 {
  float: left;
  width: "2%";
}

/* line 38, ../../sass/base/_default.sass */
.left-3 {
  float: left;
  width: "3%";
}

/* line 38, ../../sass/base/_default.sass */
.left-4 {
  float: left;
  width: "4%";
}

/* line 38, ../../sass/base/_default.sass */
.left-5 {
  float: left;
  width: "5%";
}

/* line 38, ../../sass/base/_default.sass */
.left-6 {
  float: left;
  width: "6%";
}

/* line 38, ../../sass/base/_default.sass */
.left-7 {
  float: left;
  width: "7%";
}

/* line 38, ../../sass/base/_default.sass */
.left-8 {
  float: left;
  width: "8%";
}

/* line 38, ../../sass/base/_default.sass */
.left-9 {
  float: left;
  width: "9%";
}

/* line 38, ../../sass/base/_default.sass */
.left-10 {
  float: left;
  width: "10%";
}

/* line 38, ../../sass/base/_default.sass */
.left-11 {
  float: left;
  width: "11%";
}

/* line 38, ../../sass/base/_default.sass */
.left-12 {
  float: left;
  width: "12%";
}

/* line 38, ../../sass/base/_default.sass */
.left-13 {
  float: left;
  width: "13%";
}

/* line 38, ../../sass/base/_default.sass */
.left-14 {
  float: left;
  width: "14%";
}

/* line 38, ../../sass/base/_default.sass */
.left-15 {
  float: left;
  width: "15%";
}

/* line 38, ../../sass/base/_default.sass */
.left-16 {
  float: left;
  width: "16%";
}

/* line 38, ../../sass/base/_default.sass */
.left-17 {
  float: left;
  width: "17%";
}

/* line 38, ../../sass/base/_default.sass */
.left-18 {
  float: left;
  width: "18%";
}

/* line 38, ../../sass/base/_default.sass */
.left-19 {
  float: left;
  width: "19%";
}

/* line 38, ../../sass/base/_default.sass */
.left-20 {
  float: left;
  width: "20%";
}

/* line 38, ../../sass/base/_default.sass */
.left-21 {
  float: left;
  width: "21%";
}

/* line 38, ../../sass/base/_default.sass */
.left-22 {
  float: left;
  width: "22%";
}

/* line 38, ../../sass/base/_default.sass */
.left-23 {
  float: left;
  width: "23%";
}

/* line 38, ../../sass/base/_default.sass */
.left-24 {
  float: left;
  width: "24%";
}

/* line 38, ../../sass/base/_default.sass */
.left-25 {
  float: left;
  width: "25%";
}

/* line 38, ../../sass/base/_default.sass */
.left-26 {
  float: left;
  width: "26%";
}

/* line 38, ../../sass/base/_default.sass */
.left-27 {
  float: left;
  width: "27%";
}

/* line 38, ../../sass/base/_default.sass */
.left-28 {
  float: left;
  width: "28%";
}

/* line 38, ../../sass/base/_default.sass */
.left-29 {
  float: left;
  width: "29%";
}

/* line 38, ../../sass/base/_default.sass */
.left-30 {
  float: left;
  width: "30%";
}

/* line 38, ../../sass/base/_default.sass */
.left-31 {
  float: left;
  width: "31%";
}

/* line 38, ../../sass/base/_default.sass */
.left-32 {
  float: left;
  width: "32%";
}

/* line 38, ../../sass/base/_default.sass */
.left-33 {
  float: left;
  width: "33%";
}

/* line 38, ../../sass/base/_default.sass */
.left-34 {
  float: left;
  width: "34%";
}

/* line 38, ../../sass/base/_default.sass */
.left-35 {
  float: left;
  width: "35%";
}

/* line 38, ../../sass/base/_default.sass */
.left-36 {
  float: left;
  width: "36%";
}

/* line 38, ../../sass/base/_default.sass */
.left-37 {
  float: left;
  width: "37%";
}

/* line 38, ../../sass/base/_default.sass */
.left-38 {
  float: left;
  width: "38%";
}

/* line 38, ../../sass/base/_default.sass */
.left-39 {
  float: left;
  width: "39%";
}

/* line 38, ../../sass/base/_default.sass */
.left-40 {
  float: left;
  width: "40%";
}

/* line 38, ../../sass/base/_default.sass */
.left-41 {
  float: left;
  width: "41%";
}

/* line 38, ../../sass/base/_default.sass */
.left-42 {
  float: left;
  width: "42%";
}

/* line 38, ../../sass/base/_default.sass */
.left-43 {
  float: left;
  width: "43%";
}

/* line 38, ../../sass/base/_default.sass */
.left-44 {
  float: left;
  width: "44%";
}

/* line 38, ../../sass/base/_default.sass */
.left-45 {
  float: left;
  width: "45%";
}

/* line 38, ../../sass/base/_default.sass */
.left-46 {
  float: left;
  width: "46%";
}

/* line 38, ../../sass/base/_default.sass */
.left-47 {
  float: left;
  width: "47%";
}

/* line 38, ../../sass/base/_default.sass */
.left-48 {
  float: left;
  width: "48%";
}

/* line 38, ../../sass/base/_default.sass */
.left-49 {
  float: left;
  width: "49%";
}

/* line 38, ../../sass/base/_default.sass */
.left-50 {
  float: left;
  width: "50%";
}

/* line 38, ../../sass/base/_default.sass */
.left-51 {
  float: left;
  width: "51%";
}

/* line 38, ../../sass/base/_default.sass */
.left-52 {
  float: left;
  width: "52%";
}

/* line 38, ../../sass/base/_default.sass */
.left-53 {
  float: left;
  width: "53%";
}

/* line 38, ../../sass/base/_default.sass */
.left-54 {
  float: left;
  width: "54%";
}

/* line 38, ../../sass/base/_default.sass */
.left-55 {
  float: left;
  width: "55%";
}

/* line 38, ../../sass/base/_default.sass */
.left-56 {
  float: left;
  width: "56%";
}

/* line 38, ../../sass/base/_default.sass */
.left-57 {
  float: left;
  width: "57%";
}

/* line 38, ../../sass/base/_default.sass */
.left-58 {
  float: left;
  width: "58%";
}

/* line 38, ../../sass/base/_default.sass */
.left-59 {
  float: left;
  width: "59%";
}

/* line 38, ../../sass/base/_default.sass */
.left-60 {
  float: left;
  width: "60%";
}

/* line 38, ../../sass/base/_default.sass */
.left-61 {
  float: left;
  width: "61%";
}

/* line 38, ../../sass/base/_default.sass */
.left-62 {
  float: left;
  width: "62%";
}

/* line 38, ../../sass/base/_default.sass */
.left-63 {
  float: left;
  width: "63%";
}

/* line 38, ../../sass/base/_default.sass */
.left-64 {
  float: left;
  width: "64%";
}

/* line 38, ../../sass/base/_default.sass */
.left-65 {
  float: left;
  width: "65%";
}

/* line 38, ../../sass/base/_default.sass */
.left-66 {
  float: left;
  width: "66%";
}

/* line 38, ../../sass/base/_default.sass */
.left-67 {
  float: left;
  width: "67%";
}

/* line 38, ../../sass/base/_default.sass */
.left-68 {
  float: left;
  width: "68%";
}

/* line 38, ../../sass/base/_default.sass */
.left-69 {
  float: left;
  width: "69%";
}

/* line 38, ../../sass/base/_default.sass */
.left-70 {
  float: left;
  width: "70%";
}

/* line 38, ../../sass/base/_default.sass */
.left-71 {
  float: left;
  width: "71%";
}

/* line 38, ../../sass/base/_default.sass */
.left-72 {
  float: left;
  width: "72%";
}

/* line 38, ../../sass/base/_default.sass */
.left-73 {
  float: left;
  width: "73%";
}

/* line 38, ../../sass/base/_default.sass */
.left-74 {
  float: left;
  width: "74%";
}

/* line 38, ../../sass/base/_default.sass */
.left-75 {
  float: left;
  width: "75%";
}

/* line 38, ../../sass/base/_default.sass */
.left-76 {
  float: left;
  width: "76%";
}

/* line 38, ../../sass/base/_default.sass */
.left-77 {
  float: left;
  width: "77%";
}

/* line 38, ../../sass/base/_default.sass */
.left-78 {
  float: left;
  width: "78%";
}

/* line 38, ../../sass/base/_default.sass */
.left-79 {
  float: left;
  width: "79%";
}

/* line 38, ../../sass/base/_default.sass */
.left-80 {
  float: left;
  width: "80%";
}

/* line 38, ../../sass/base/_default.sass */
.left-81 {
  float: left;
  width: "81%";
}

/* line 38, ../../sass/base/_default.sass */
.left-82 {
  float: left;
  width: "82%";
}

/* line 38, ../../sass/base/_default.sass */
.left-83 {
  float: left;
  width: "83%";
}

/* line 38, ../../sass/base/_default.sass */
.left-84 {
  float: left;
  width: "84%";
}

/* line 38, ../../sass/base/_default.sass */
.left-85 {
  float: left;
  width: "85%";
}

/* line 38, ../../sass/base/_default.sass */
.left-86 {
  float: left;
  width: "86%";
}

/* line 38, ../../sass/base/_default.sass */
.left-87 {
  float: left;
  width: "87%";
}

/* line 38, ../../sass/base/_default.sass */
.left-88 {
  float: left;
  width: "88%";
}

/* line 38, ../../sass/base/_default.sass */
.left-89 {
  float: left;
  width: "89%";
}

/* line 38, ../../sass/base/_default.sass */
.left-90 {
  float: left;
  width: "90%";
}

/* line 38, ../../sass/base/_default.sass */
.left-91 {
  float: left;
  width: "91%";
}

/* line 38, ../../sass/base/_default.sass */
.left-92 {
  float: left;
  width: "92%";
}

/* line 38, ../../sass/base/_default.sass */
.left-93 {
  float: left;
  width: "93%";
}

/* line 38, ../../sass/base/_default.sass */
.left-94 {
  float: left;
  width: "94%";
}

/* line 38, ../../sass/base/_default.sass */
.left-95 {
  float: left;
  width: "95%";
}

/* line 38, ../../sass/base/_default.sass */
.left-96 {
  float: left;
  width: "96%";
}

/* line 38, ../../sass/base/_default.sass */
.left-97 {
  float: left;
  width: "97%";
}

/* line 38, ../../sass/base/_default.sass */
.left-98 {
  float: left;
  width: "98%";
}

/* line 38, ../../sass/base/_default.sass */
.left-99 {
  float: left;
  width: "99%";
}

/* line 38, ../../sass/base/_default.sass */
.left-100 {
  float: left;
  width: "100%";
}

/* line 43, ../../sass/base/_default.sass */
.right-1 {
  float: right;
  width: "1%";
}

/* line 43, ../../sass/base/_default.sass */
.right-2 {
  float: right;
  width: "2%";
}

/* line 43, ../../sass/base/_default.sass */
.right-3 {
  float: right;
  width: "3%";
}

/* line 43, ../../sass/base/_default.sass */
.right-4 {
  float: right;
  width: "4%";
}

/* line 43, ../../sass/base/_default.sass */
.right-5 {
  float: right;
  width: "5%";
}

/* line 43, ../../sass/base/_default.sass */
.right-6 {
  float: right;
  width: "6%";
}

/* line 43, ../../sass/base/_default.sass */
.right-7 {
  float: right;
  width: "7%";
}

/* line 43, ../../sass/base/_default.sass */
.right-8 {
  float: right;
  width: "8%";
}

/* line 43, ../../sass/base/_default.sass */
.right-9 {
  float: right;
  width: "9%";
}

/* line 43, ../../sass/base/_default.sass */
.right-10 {
  float: right;
  width: "10%";
}

/* line 43, ../../sass/base/_default.sass */
.right-11 {
  float: right;
  width: "11%";
}

/* line 43, ../../sass/base/_default.sass */
.right-12 {
  float: right;
  width: "12%";
}

/* line 43, ../../sass/base/_default.sass */
.right-13 {
  float: right;
  width: "13%";
}

/* line 43, ../../sass/base/_default.sass */
.right-14 {
  float: right;
  width: "14%";
}

/* line 43, ../../sass/base/_default.sass */
.right-15 {
  float: right;
  width: "15%";
}

/* line 43, ../../sass/base/_default.sass */
.right-16 {
  float: right;
  width: "16%";
}

/* line 43, ../../sass/base/_default.sass */
.right-17 {
  float: right;
  width: "17%";
}

/* line 43, ../../sass/base/_default.sass */
.right-18 {
  float: right;
  width: "18%";
}

/* line 43, ../../sass/base/_default.sass */
.right-19 {
  float: right;
  width: "19%";
}

/* line 43, ../../sass/base/_default.sass */
.right-20 {
  float: right;
  width: "20%";
}

/* line 43, ../../sass/base/_default.sass */
.right-21 {
  float: right;
  width: "21%";
}

/* line 43, ../../sass/base/_default.sass */
.right-22 {
  float: right;
  width: "22%";
}

/* line 43, ../../sass/base/_default.sass */
.right-23 {
  float: right;
  width: "23%";
}

/* line 43, ../../sass/base/_default.sass */
.right-24 {
  float: right;
  width: "24%";
}

/* line 43, ../../sass/base/_default.sass */
.right-25 {
  float: right;
  width: "25%";
}

/* line 43, ../../sass/base/_default.sass */
.right-26 {
  float: right;
  width: "26%";
}

/* line 43, ../../sass/base/_default.sass */
.right-27 {
  float: right;
  width: "27%";
}

/* line 43, ../../sass/base/_default.sass */
.right-28 {
  float: right;
  width: "28%";
}

/* line 43, ../../sass/base/_default.sass */
.right-29 {
  float: right;
  width: "29%";
}

/* line 43, ../../sass/base/_default.sass */
.right-30 {
  float: right;
  width: "30%";
}

/* line 43, ../../sass/base/_default.sass */
.right-31 {
  float: right;
  width: "31%";
}

/* line 43, ../../sass/base/_default.sass */
.right-32 {
  float: right;
  width: "32%";
}

/* line 43, ../../sass/base/_default.sass */
.right-33 {
  float: right;
  width: "33%";
}

/* line 43, ../../sass/base/_default.sass */
.right-34 {
  float: right;
  width: "34%";
}

/* line 43, ../../sass/base/_default.sass */
.right-35 {
  float: right;
  width: "35%";
}

/* line 43, ../../sass/base/_default.sass */
.right-36 {
  float: right;
  width: "36%";
}

/* line 43, ../../sass/base/_default.sass */
.right-37 {
  float: right;
  width: "37%";
}

/* line 43, ../../sass/base/_default.sass */
.right-38 {
  float: right;
  width: "38%";
}

/* line 43, ../../sass/base/_default.sass */
.right-39 {
  float: right;
  width: "39%";
}

/* line 43, ../../sass/base/_default.sass */
.right-40 {
  float: right;
  width: "40%";
}

/* line 43, ../../sass/base/_default.sass */
.right-41 {
  float: right;
  width: "41%";
}

/* line 43, ../../sass/base/_default.sass */
.right-42 {
  float: right;
  width: "42%";
}

/* line 43, ../../sass/base/_default.sass */
.right-43 {
  float: right;
  width: "43%";
}

/* line 43, ../../sass/base/_default.sass */
.right-44 {
  float: right;
  width: "44%";
}

/* line 43, ../../sass/base/_default.sass */
.right-45 {
  float: right;
  width: "45%";
}

/* line 43, ../../sass/base/_default.sass */
.right-46 {
  float: right;
  width: "46%";
}

/* line 43, ../../sass/base/_default.sass */
.right-47 {
  float: right;
  width: "47%";
}

/* line 43, ../../sass/base/_default.sass */
.right-48 {
  float: right;
  width: "48%";
}

/* line 43, ../../sass/base/_default.sass */
.right-49 {
  float: right;
  width: "49%";
}

/* line 43, ../../sass/base/_default.sass */
.right-50 {
  float: right;
  width: "50%";
}

/* line 43, ../../sass/base/_default.sass */
.right-51 {
  float: right;
  width: "51%";
}

/* line 43, ../../sass/base/_default.sass */
.right-52 {
  float: right;
  width: "52%";
}

/* line 43, ../../sass/base/_default.sass */
.right-53 {
  float: right;
  width: "53%";
}

/* line 43, ../../sass/base/_default.sass */
.right-54 {
  float: right;
  width: "54%";
}

/* line 43, ../../sass/base/_default.sass */
.right-55 {
  float: right;
  width: "55%";
}

/* line 43, ../../sass/base/_default.sass */
.right-56 {
  float: right;
  width: "56%";
}

/* line 43, ../../sass/base/_default.sass */
.right-57 {
  float: right;
  width: "57%";
}

/* line 43, ../../sass/base/_default.sass */
.right-58 {
  float: right;
  width: "58%";
}

/* line 43, ../../sass/base/_default.sass */
.right-59 {
  float: right;
  width: "59%";
}

/* line 43, ../../sass/base/_default.sass */
.right-60 {
  float: right;
  width: "60%";
}

/* line 43, ../../sass/base/_default.sass */
.right-61 {
  float: right;
  width: "61%";
}

/* line 43, ../../sass/base/_default.sass */
.right-62 {
  float: right;
  width: "62%";
}

/* line 43, ../../sass/base/_default.sass */
.right-63 {
  float: right;
  width: "63%";
}

/* line 43, ../../sass/base/_default.sass */
.right-64 {
  float: right;
  width: "64%";
}

/* line 43, ../../sass/base/_default.sass */
.right-65 {
  float: right;
  width: "65%";
}

/* line 43, ../../sass/base/_default.sass */
.right-66 {
  float: right;
  width: "66%";
}

/* line 43, ../../sass/base/_default.sass */
.right-67 {
  float: right;
  width: "67%";
}

/* line 43, ../../sass/base/_default.sass */
.right-68 {
  float: right;
  width: "68%";
}

/* line 43, ../../sass/base/_default.sass */
.right-69 {
  float: right;
  width: "69%";
}

/* line 43, ../../sass/base/_default.sass */
.right-70 {
  float: right;
  width: "70%";
}

/* line 43, ../../sass/base/_default.sass */
.right-71 {
  float: right;
  width: "71%";
}

/* line 43, ../../sass/base/_default.sass */
.right-72 {
  float: right;
  width: "72%";
}

/* line 43, ../../sass/base/_default.sass */
.right-73 {
  float: right;
  width: "73%";
}

/* line 43, ../../sass/base/_default.sass */
.right-74 {
  float: right;
  width: "74%";
}

/* line 43, ../../sass/base/_default.sass */
.right-75 {
  float: right;
  width: "75%";
}

/* line 43, ../../sass/base/_default.sass */
.right-76 {
  float: right;
  width: "76%";
}

/* line 43, ../../sass/base/_default.sass */
.right-77 {
  float: right;
  width: "77%";
}

/* line 43, ../../sass/base/_default.sass */
.right-78 {
  float: right;
  width: "78%";
}

/* line 43, ../../sass/base/_default.sass */
.right-79 {
  float: right;
  width: "79%";
}

/* line 43, ../../sass/base/_default.sass */
.right-80 {
  float: right;
  width: "80%";
}

/* line 43, ../../sass/base/_default.sass */
.right-81 {
  float: right;
  width: "81%";
}

/* line 43, ../../sass/base/_default.sass */
.right-82 {
  float: right;
  width: "82%";
}

/* line 43, ../../sass/base/_default.sass */
.right-83 {
  float: right;
  width: "83%";
}

/* line 43, ../../sass/base/_default.sass */
.right-84 {
  float: right;
  width: "84%";
}

/* line 43, ../../sass/base/_default.sass */
.right-85 {
  float: right;
  width: "85%";
}

/* line 43, ../../sass/base/_default.sass */
.right-86 {
  float: right;
  width: "86%";
}

/* line 43, ../../sass/base/_default.sass */
.right-87 {
  float: right;
  width: "87%";
}

/* line 43, ../../sass/base/_default.sass */
.right-88 {
  float: right;
  width: "88%";
}

/* line 43, ../../sass/base/_default.sass */
.right-89 {
  float: right;
  width: "89%";
}

/* line 43, ../../sass/base/_default.sass */
.right-90 {
  float: right;
  width: "90%";
}

/* line 43, ../../sass/base/_default.sass */
.right-91 {
  float: right;
  width: "91%";
}

/* line 43, ../../sass/base/_default.sass */
.right-92 {
  float: right;
  width: "92%";
}

/* line 43, ../../sass/base/_default.sass */
.right-93 {
  float: right;
  width: "93%";
}

/* line 43, ../../sass/base/_default.sass */
.right-94 {
  float: right;
  width: "94%";
}

/* line 43, ../../sass/base/_default.sass */
.right-95 {
  float: right;
  width: "95%";
}

/* line 43, ../../sass/base/_default.sass */
.right-96 {
  float: right;
  width: "96%";
}

/* line 43, ../../sass/base/_default.sass */
.right-97 {
  float: right;
  width: "97%";
}

/* line 43, ../../sass/base/_default.sass */
.right-98 {
  float: right;
  width: "98%";
}

/* line 43, ../../sass/base/_default.sass */
.right-99 {
  float: right;
  width: "99%";
}

/* line 43, ../../sass/base/_default.sass */
.right-100 {
  float: right;
  width: "100%";
}

@-webkit-keyframes rotate-right {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-right {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate-right {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes rotate-left {
  from {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes rotate-left {
  from {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate-left {
  from {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 71, ../../sass/base/_default.sass */
.spinner {
  margin: auto;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 22px;
  height: 11px;
  background: white;
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 12px 2px;
  border-radius: 100%;
  position: relative;
}
/* line 58, ../../sass/helpers/_mixins.sass */
.spinner:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: white;
  border: 4.125px solid white;
  border-radius: 100%;
  width: 2.75px;
  height: 2.75px;
}
/* line 68, ../../sass/helpers/_mixins.sass */
.spinner:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  border: 4.125px solid black;
  border-radius: 100%;
  width: 2.75px;
  height: 2.75px;
}

/* line 76, ../../sass/base/_default.sass */
.rotate.clockwise {
  -webkit-animation: rotate-right 1.25s linear infinite;
  -ms-animation: rotate-right 1.25s linear infinite;
  -moz-animation: rotate-right 1.25s linear infinite;
  -o-animation: rotate-right 1.25s linear infinite;
  animation: rotate-right 1.25s linear infinite;
}
/* line 78, ../../sass/base/_default.sass */
.rotate.c-clockwise {
  -webkit-animation: rotate-left 1.25s linear infinite;
  -ms-animation: rotate-left 1.25s linear infinite;
  -moz-animation: rotate-left 1.25s linear infinite;
  -o-animation: rotate-left 1.25s linear infinite;
  animation: rotate-left 1.25s linear infinite;
}

/* line 4, ../../sass/components/_components.sass */
.style-item {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

/* line 11, ../../sass/components/_components.sass */
.container {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border: solid black 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #999;
}

/* line 19, ../../sass/components/_components.sass */
.input {
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  font-size: 14px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: solid black 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #999 inset;
  -webkit-box-shadow: 0px 0px 4px #999 inset;
  box-shadow: 0px 0px 4px #999 inset;
}
/* line 2, ../../sass/helpers/_mixins.sass */
.input::-webkit-input-placeholder {
  color: black;
  font-weight: 100;
}
/* line 4, ../../sass/helpers/_mixins.sass */
.input:-moz-placeholder {
  color: black;
  font-weight: 100;
}
/* line 6, ../../sass/helpers/_mixins.sass */
.input::-moz-placeholder {
  color: black;
  font-weight: 100;
}
/* line 8, ../../sass/helpers/_mixins.sass */
.input:-ms-input-placeholder {
  color: black;
  font-weight: 100;
}
/* line 35, ../../sass/components/_components.sass */
.input:focus {
  -moz-box-shadow: 0px 0px 4px #000 inset;
  -webkit-box-shadow: 0px 0px 4px #000 inset;
  box-shadow: 0px 0px 4px #000 inset;
}
/* line 37, ../../sass/components/_components.sass */
.input.error {
  border: solid red 1px;
  -moz-box-shadow: 0px 0px 4px red inset;
  -webkit-box-shadow: 0px 0px 4px red inset;
  box-shadow: 0px 0px 4px red inset;
}
/* line 40, ../../sass/components/_components.sass */
.input.error:focus {
  -moz-box-shadow: 0px 0px 4px red inset;
  -webkit-box-shadow: 0px 0px 4px red inset;
  box-shadow: 0px 0px 4px red inset;
}

/* line 43, ../../sass/components/_components.sass */
.btn {
  height: 40px;
  padding: 12px 10px 10px 10px;
  background: white;
  color: black;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -moz-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: 0;
  border: solid black 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #999;
  -webkit-box-shadow: 0px 0px 4px #999;
  box-shadow: 0px 0px 4px #999;
  -webkit-transition: transform 0.1s;
  -ms-transition: transform 0.1s;
  -moz-transition: transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  -webkit-transition: background 0.1s;
  -ms-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
/* line 62, ../../sass/components/_components.sass */
.btn:hover {
  -moz-box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}
/* line 64, ../../sass/components/_components.sass */
.btn:active {
  background: black;
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: transform 0s;
  -ms-transition: transform 0s;
  -moz-transition: transform 0s;
  -o-transition: transform 0s;
  transition: transform 0s;
}

/* line 69, ../../sass/components/_components.sass */
.arrow {
  display: inline-block;
  vertical-align: top;
}
/* line 72, ../../sass/components/_components.sass */
.arrow.up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid black;
}
/* line 74, ../../sass/components/_components.sass */
.arrow.right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid black;
  border-bottom: 25px solid transparent;
}
/* line 76, ../../sass/components/_components.sass */
.arrow.down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid black;
}
/* line 78, ../../sass/components/_components.sass */
.arrow.left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid black;
  border-bottom: 25px solid transparent;
}

/* line 111, ../../sass/helpers/_mixins.sass */
.border-arrow.up {
  position: relative;
}
/* line 81, ../../sass/helpers/_mixins.sass */
.border-arrow.up:after {
  content: "";
  position: absolute;
}
/* line 85, ../../sass/helpers/_mixins.sass */
.border-arrow.up:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  left: 50%;
  margin-left: -5px;
  top: -10px;
}
/* line 113, ../../sass/helpers/_mixins.sass */
.border-arrow.right {
  position: relative;
}
/* line 81, ../../sass/helpers/_mixins.sass */
.border-arrow.right:after {
  content: "";
  position: absolute;
}
/* line 91, ../../sass/helpers/_mixins.sass */
.border-arrow.right:after {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid black;
  border-bottom: 5px solid transparent;
  top: 50%;
  margin-top: -5px;
  right: -10px;
}
/* line 115, ../../sass/helpers/_mixins.sass */
.border-arrow.down {
  position: relative;
}
/* line 81, ../../sass/helpers/_mixins.sass */
.border-arrow.down:after {
  content: "";
  position: absolute;
}
/* line 97, ../../sass/helpers/_mixins.sass */
.border-arrow.down:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  left: 50%;
  margin-left: -5px;
  bottom: -10px;
}
/* line 117, ../../sass/helpers/_mixins.sass */
.border-arrow.left {
  position: relative;
}
/* line 81, ../../sass/helpers/_mixins.sass */
.border-arrow.left:after {
  content: "";
  position: absolute;
}
/* line 104, ../../sass/helpers/_mixins.sass */
.border-arrow.left:after {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid black;
  border-bottom: 5px solid transparent;
  top: 50%;
  margin-top: -5px;
  left: -10px;
}
/* line 111, ../../sass/helpers/_mixins.sass */
.border-arrow.big.up {
  position: relative;
}
/* line 81, ../../sass/helpers/_mixins.sass */
.border-arrow.big.up:after {
  content: "";
  position: absolute;
}
/* line 85, ../../sass/helpers/_mixins.sass */
.border-arrow.big.up:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
  left: 50%;
  margin-left: -10px;
  top: -20px;
}
/* line 113, ../../sass/helpers/_mixins.sass */
.border-arrow.big.right {
  position: relative;
}
/* line 81, ../../sass/helpers/_mixins.sass */
.border-arrow.big.right:after {
  content: "";
  position: absolute;
}
/* line 91, ../../sass/helpers/_mixins.sass */
.border-arrow.big.right:after {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid black;
  border-bottom: 10px solid transparent;
  top: 50%;
  margin-top: -10px;
  right: -20px;
}
/* line 115, ../../sass/helpers/_mixins.sass */
.border-arrow.big.down {
  position: relative;
}
/* line 81, ../../sass/helpers/_mixins.sass */
.border-arrow.big.down:after {
  content: "";
  position: absolute;
}
/* line 97, ../../sass/helpers/_mixins.sass */
.border-arrow.big.down:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
  left: 50%;
  margin-left: -10px;
  bottom: -20px;
}
/* line 117, ../../sass/helpers/_mixins.sass */
.border-arrow.big.left {
  position: relative;
}
/* line 81, ../../sass/helpers/_mixins.sass */
.border-arrow.big.left:after {
  content: "";
  position: absolute;
}
/* line 104, ../../sass/helpers/_mixins.sass */
.border-arrow.big.left:after {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid black;
  border-bottom: 10px solid transparent;
  top: 50%;
  margin-top: -10px;
  left: -20px;
}

/* line 88, ../../sass/components/_components.sass */
.border-arrow.up.offset:after {
  margin-left: 20px;
}

/* line 1, ../../sass/layout/_layout.sass */
.layout-content {
  max-width: 960px;
  margin: 10px auto 10px;
  background: white;
  border: none;
}
/* line 7, ../../sass/layout/_layout.sass */
.layout-content .head {
  padding: 10px;
  border-bottom: solid black 5px;
}
/* line 11, ../../sass/layout/_layout.sass */
.layout-content .content {
  padding: 10px;
  border: solid black 1px;
}

/* line 10, ../../sass/pages/components.sass */
#components > .head {
  font-size: 26px;
}

/* line 13, ../../sass/pages/components.sass */
.anchor-link {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: left;
  display: block;
  border-bottom: solid black 5px;
}

/* line 22, ../../sass/pages/components.sass */
.arrowed {
  margin-bottom: 10px;
}
