@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700,300italic,400italic,500italic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before {
  content: " ";
  display: table; }
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.hidden {
  display: none; }

html {
  overflow: auto;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px; }

* {
  box-sizing: border-box; }

body {
  text-align: center; }

a, a:link, a:visited, a:hover, a:active {
  display: inline; }

.left-1 {
  float: left;
  width: "1%"; }

.left-2 {
  float: left;
  width: "2%"; }

.left-3 {
  float: left;
  width: "3%"; }

.left-4 {
  float: left;
  width: "4%"; }

.left-5 {
  float: left;
  width: "5%"; }

.left-6 {
  float: left;
  width: "6%"; }

.left-7 {
  float: left;
  width: "7%"; }

.left-8 {
  float: left;
  width: "8%"; }

.left-9 {
  float: left;
  width: "9%"; }

.left-10 {
  float: left;
  width: "10%"; }

.left-11 {
  float: left;
  width: "11%"; }

.left-12 {
  float: left;
  width: "12%"; }

.left-13 {
  float: left;
  width: "13%"; }

.left-14 {
  float: left;
  width: "14%"; }

.left-15 {
  float: left;
  width: "15%"; }

.left-16 {
  float: left;
  width: "16%"; }

.left-17 {
  float: left;
  width: "17%"; }

.left-18 {
  float: left;
  width: "18%"; }

.left-19 {
  float: left;
  width: "19%"; }

.left-20 {
  float: left;
  width: "20%"; }

.left-21 {
  float: left;
  width: "21%"; }

.left-22 {
  float: left;
  width: "22%"; }

.left-23 {
  float: left;
  width: "23%"; }

.left-24 {
  float: left;
  width: "24%"; }

.left-25 {
  float: left;
  width: "25%"; }

.left-26 {
  float: left;
  width: "26%"; }

.left-27 {
  float: left;
  width: "27%"; }

.left-28 {
  float: left;
  width: "28%"; }

.left-29 {
  float: left;
  width: "29%"; }

.left-30 {
  float: left;
  width: "30%"; }

.left-31 {
  float: left;
  width: "31%"; }

.left-32 {
  float: left;
  width: "32%"; }

.left-33 {
  float: left;
  width: "33%"; }

.left-34 {
  float: left;
  width: "34%"; }

.left-35 {
  float: left;
  width: "35%"; }

.left-36 {
  float: left;
  width: "36%"; }

.left-37 {
  float: left;
  width: "37%"; }

.left-38 {
  float: left;
  width: "38%"; }

.left-39 {
  float: left;
  width: "39%"; }

.left-40 {
  float: left;
  width: "40%"; }

.left-41 {
  float: left;
  width: "41%"; }

.left-42 {
  float: left;
  width: "42%"; }

.left-43 {
  float: left;
  width: "43%"; }

.left-44 {
  float: left;
  width: "44%"; }

.left-45 {
  float: left;
  width: "45%"; }

.left-46 {
  float: left;
  width: "46%"; }

.left-47 {
  float: left;
  width: "47%"; }

.left-48 {
  float: left;
  width: "48%"; }

.left-49 {
  float: left;
  width: "49%"; }

.left-50 {
  float: left;
  width: "50%"; }

.left-51 {
  float: left;
  width: "51%"; }

.left-52 {
  float: left;
  width: "52%"; }

.left-53 {
  float: left;
  width: "53%"; }

.left-54 {
  float: left;
  width: "54%"; }

.left-55 {
  float: left;
  width: "55%"; }

.left-56 {
  float: left;
  width: "56%"; }

.left-57 {
  float: left;
  width: "57%"; }

.left-58 {
  float: left;
  width: "58%"; }

.left-59 {
  float: left;
  width: "59%"; }

.left-60 {
  float: left;
  width: "60%"; }

.left-61 {
  float: left;
  width: "61%"; }

.left-62 {
  float: left;
  width: "62%"; }

.left-63 {
  float: left;
  width: "63%"; }

.left-64 {
  float: left;
  width: "64%"; }

.left-65 {
  float: left;
  width: "65%"; }

.left-66 {
  float: left;
  width: "66%"; }

.left-67 {
  float: left;
  width: "67%"; }

.left-68 {
  float: left;
  width: "68%"; }

.left-69 {
  float: left;
  width: "69%"; }

.left-70 {
  float: left;
  width: "70%"; }

.left-71 {
  float: left;
  width: "71%"; }

.left-72 {
  float: left;
  width: "72%"; }

.left-73 {
  float: left;
  width: "73%"; }

.left-74 {
  float: left;
  width: "74%"; }

.left-75 {
  float: left;
  width: "75%"; }

.left-76 {
  float: left;
  width: "76%"; }

.left-77 {
  float: left;
  width: "77%"; }

.left-78 {
  float: left;
  width: "78%"; }

.left-79 {
  float: left;
  width: "79%"; }

.left-80 {
  float: left;
  width: "80%"; }

.left-81 {
  float: left;
  width: "81%"; }

.left-82 {
  float: left;
  width: "82%"; }

.left-83 {
  float: left;
  width: "83%"; }

.left-84 {
  float: left;
  width: "84%"; }

.left-85 {
  float: left;
  width: "85%"; }

.left-86 {
  float: left;
  width: "86%"; }

.left-87 {
  float: left;
  width: "87%"; }

.left-88 {
  float: left;
  width: "88%"; }

.left-89 {
  float: left;
  width: "89%"; }

.left-90 {
  float: left;
  width: "90%"; }

.left-91 {
  float: left;
  width: "91%"; }

.left-92 {
  float: left;
  width: "92%"; }

.left-93 {
  float: left;
  width: "93%"; }

.left-94 {
  float: left;
  width: "94%"; }

.left-95 {
  float: left;
  width: "95%"; }

.left-96 {
  float: left;
  width: "96%"; }

.left-97 {
  float: left;
  width: "97%"; }

.left-98 {
  float: left;
  width: "98%"; }

.left-99 {
  float: left;
  width: "99%"; }

.left-100 {
  float: left;
  width: "100%"; }

.right-1 {
  float: right;
  width: "1%"; }

.right-2 {
  float: right;
  width: "2%"; }

.right-3 {
  float: right;
  width: "3%"; }

.right-4 {
  float: right;
  width: "4%"; }

.right-5 {
  float: right;
  width: "5%"; }

.right-6 {
  float: right;
  width: "6%"; }

.right-7 {
  float: right;
  width: "7%"; }

.right-8 {
  float: right;
  width: "8%"; }

.right-9 {
  float: right;
  width: "9%"; }

.right-10 {
  float: right;
  width: "10%"; }

.right-11 {
  float: right;
  width: "11%"; }

.right-12 {
  float: right;
  width: "12%"; }

.right-13 {
  float: right;
  width: "13%"; }

.right-14 {
  float: right;
  width: "14%"; }

.right-15 {
  float: right;
  width: "15%"; }

.right-16 {
  float: right;
  width: "16%"; }

.right-17 {
  float: right;
  width: "17%"; }

.right-18 {
  float: right;
  width: "18%"; }

.right-19 {
  float: right;
  width: "19%"; }

.right-20 {
  float: right;
  width: "20%"; }

.right-21 {
  float: right;
  width: "21%"; }

.right-22 {
  float: right;
  width: "22%"; }

.right-23 {
  float: right;
  width: "23%"; }

.right-24 {
  float: right;
  width: "24%"; }

.right-25 {
  float: right;
  width: "25%"; }

.right-26 {
  float: right;
  width: "26%"; }

.right-27 {
  float: right;
  width: "27%"; }

.right-28 {
  float: right;
  width: "28%"; }

.right-29 {
  float: right;
  width: "29%"; }

.right-30 {
  float: right;
  width: "30%"; }

.right-31 {
  float: right;
  width: "31%"; }

.right-32 {
  float: right;
  width: "32%"; }

.right-33 {
  float: right;
  width: "33%"; }

.right-34 {
  float: right;
  width: "34%"; }

.right-35 {
  float: right;
  width: "35%"; }

.right-36 {
  float: right;
  width: "36%"; }

.right-37 {
  float: right;
  width: "37%"; }

.right-38 {
  float: right;
  width: "38%"; }

.right-39 {
  float: right;
  width: "39%"; }

.right-40 {
  float: right;
  width: "40%"; }

.right-41 {
  float: right;
  width: "41%"; }

.right-42 {
  float: right;
  width: "42%"; }

.right-43 {
  float: right;
  width: "43%"; }

.right-44 {
  float: right;
  width: "44%"; }

.right-45 {
  float: right;
  width: "45%"; }

.right-46 {
  float: right;
  width: "46%"; }

.right-47 {
  float: right;
  width: "47%"; }

.right-48 {
  float: right;
  width: "48%"; }

.right-49 {
  float: right;
  width: "49%"; }

.right-50 {
  float: right;
  width: "50%"; }

.right-51 {
  float: right;
  width: "51%"; }

.right-52 {
  float: right;
  width: "52%"; }

.right-53 {
  float: right;
  width: "53%"; }

.right-54 {
  float: right;
  width: "54%"; }

.right-55 {
  float: right;
  width: "55%"; }

.right-56 {
  float: right;
  width: "56%"; }

.right-57 {
  float: right;
  width: "57%"; }

.right-58 {
  float: right;
  width: "58%"; }

.right-59 {
  float: right;
  width: "59%"; }

.right-60 {
  float: right;
  width: "60%"; }

.right-61 {
  float: right;
  width: "61%"; }

.right-62 {
  float: right;
  width: "62%"; }

.right-63 {
  float: right;
  width: "63%"; }

.right-64 {
  float: right;
  width: "64%"; }

.right-65 {
  float: right;
  width: "65%"; }

.right-66 {
  float: right;
  width: "66%"; }

.right-67 {
  float: right;
  width: "67%"; }

.right-68 {
  float: right;
  width: "68%"; }

.right-69 {
  float: right;
  width: "69%"; }

.right-70 {
  float: right;
  width: "70%"; }

.right-71 {
  float: right;
  width: "71%"; }

.right-72 {
  float: right;
  width: "72%"; }

.right-73 {
  float: right;
  width: "73%"; }

.right-74 {
  float: right;
  width: "74%"; }

.right-75 {
  float: right;
  width: "75%"; }

.right-76 {
  float: right;
  width: "76%"; }

.right-77 {
  float: right;
  width: "77%"; }

.right-78 {
  float: right;
  width: "78%"; }

.right-79 {
  float: right;
  width: "79%"; }

.right-80 {
  float: right;
  width: "80%"; }

.right-81 {
  float: right;
  width: "81%"; }

.right-82 {
  float: right;
  width: "82%"; }

.right-83 {
  float: right;
  width: "83%"; }

.right-84 {
  float: right;
  width: "84%"; }

.right-85 {
  float: right;
  width: "85%"; }

.right-86 {
  float: right;
  width: "86%"; }

.right-87 {
  float: right;
  width: "87%"; }

.right-88 {
  float: right;
  width: "88%"; }

.right-89 {
  float: right;
  width: "89%"; }

.right-90 {
  float: right;
  width: "90%"; }

.right-91 {
  float: right;
  width: "91%"; }

.right-92 {
  float: right;
  width: "92%"; }

.right-93 {
  float: right;
  width: "93%"; }

.right-94 {
  float: right;
  width: "94%"; }

.right-95 {
  float: right;
  width: "95%"; }

.right-96 {
  float: right;
  width: "96%"; }

.right-97 {
  float: right;
  width: "97%"; }

.right-98 {
  float: right;
  width: "98%"; }

.right-99 {
  float: right;
  width: "99%"; }

.right-100 {
  float: right;
  width: "100%"; }

@-webkit-keyframes rotate-right {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-moz-keyframes rotate-right {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-o-keyframes rotate-right {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes rotate-right {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes rotate-left {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
@-moz-keyframes rotate-left {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
@-o-keyframes rotate-left {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
@keyframes rotate-left {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.spinner {
  margin: auto;
  box-sizing: content-box;
  width: 22px;
  height: 11px;
  background: white;
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 12px 2px;
  border-radius: 100%;
  position: relative; }
  .spinner:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: white;
    border: 4.125px solid white;
    border-radius: 100%;
    width: 2.75px;
    height: 2.75px; }
  .spinner:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: black;
    border: 4.125px solid black;
    border-radius: 100%;
    width: 2.75px;
    height: 2.75px; }

.rotate.clockwise {
  -webkit-animation: rotate-right 1.25s linear infinite;
  -ms-animation: rotate-right 1.25s linear infinite;
  -moz-animation: rotate-right 1.25s linear infinite;
  -o-animation: rotate-right 1.25s linear infinite;
  animation: rotate-right 1.25s linear infinite; }
.rotate.c-clockwise {
  -webkit-animation: rotate-left 1.25s linear infinite;
  -ms-animation: rotate-left 1.25s linear infinite;
  -moz-animation: rotate-left 1.25s linear infinite;
  -o-animation: rotate-left 1.25s linear infinite;
  animation: rotate-left 1.25s linear infinite; }

.style-item {
  display: inline-block;
  vertical-align: top;
  margin: 10px; }

.container {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #999; }

.input {
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  font-size: 14px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #999 inset; }
  .input::-webkit-input-placeholder {
    color: black;
    font-weight: 100; }
  .input:-moz-placeholder {
    color: black;
    font-weight: 100; }
  .input::-moz-placeholder {
    color: black;
    font-weight: 100; }
  .input:-ms-input-placeholder {
    color: black;
    font-weight: 100; }
  .input:focus {
    box-shadow: 0px 0px 4px #000 inset; }
  .input.error {
    border: solid red 1px;
    box-shadow: 0px 0px 4px red inset; }
    .input.error:focus {
      box-shadow: 0px 0px 4px red inset; }

.btn {
  height: 40px;
  padding: 12px 10px 10px 10px;
  background: white;
  color: black;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -moz-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: 0;
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #999;
  -webkit-transition: transform 0.1s;
  -ms-transition: transform 0.1s;
  -moz-transition: transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  -webkit-transition: background 0.1s;
  -ms-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s; }
  .btn:hover {
    box-shadow: 0px 0px 4px #000; }
  .btn:active {
    background: black;
    transform: scale(0.98);
    -webkit-transition: transform 0s;
    -ms-transition: transform 0s;
    -moz-transition: transform 0s;
    -o-transition: transform 0s;
    transition: transform 0s; }

.arrow {
  display: inline-block;
  vertical-align: top; }
  .arrow.up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid black; }
  .arrow.right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid black;
    border-bottom: 25px solid transparent; }
  .arrow.down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid black; }
  .arrow.left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid black;
    border-bottom: 25px solid transparent; }

.border-arrow.up {
  position: relative; }
  .border-arrow.up:after {
    content: "";
    position: absolute; }
  .border-arrow.up:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    left: 50%;
    margin-left: -5px;
    top: -10px; }
.border-arrow.right {
  position: relative; }
  .border-arrow.right:after {
    content: "";
    position: absolute; }
  .border-arrow.right:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid black;
    border-bottom: 5px solid transparent;
    top: 50%;
    margin-top: -5px;
    right: -10px; }
.border-arrow.down {
  position: relative; }
  .border-arrow.down:after {
    content: "";
    position: absolute; }
  .border-arrow.down:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    left: 50%;
    margin-left: -5px;
    bottom: -10px; }
.border-arrow.left {
  position: relative; }
  .border-arrow.left:after {
    content: "";
    position: absolute; }
  .border-arrow.left:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid black;
    border-bottom: 5px solid transparent;
    top: 50%;
    margin-top: -5px;
    left: -10px; }
.border-arrow.big.up {
  position: relative; }
  .border-arrow.big.up:after {
    content: "";
    position: absolute; }
  .border-arrow.big.up:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    left: 50%;
    margin-left: -10px;
    top: -20px; }
.border-arrow.big.right {
  position: relative; }
  .border-arrow.big.right:after {
    content: "";
    position: absolute; }
  .border-arrow.big.right:after {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid black;
    border-bottom: 10px solid transparent;
    top: 50%;
    margin-top: -10px;
    right: -20px; }
.border-arrow.big.down {
  position: relative; }
  .border-arrow.big.down:after {
    content: "";
    position: absolute; }
  .border-arrow.big.down:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
    left: 50%;
    margin-left: -10px;
    bottom: -20px; }
.border-arrow.big.left {
  position: relative; }
  .border-arrow.big.left:after {
    content: "";
    position: absolute; }
  .border-arrow.big.left:after {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid black;
    border-bottom: 10px solid transparent;
    top: 50%;
    margin-top: -10px;
    left: -20px; }

.border-arrow.up.offset:after {
  margin-left: 20px; }

.layout-content {
  max-width: 960px;
  margin: 10px auto 10px;
  background: white;
  border: none; }
  .layout-content .head {
    padding: 10px;
    border-bottom: solid black 5px; }
  .layout-content .content {
    padding: 10px;
    border: solid black 1px; }

body {
  text-align: center; }

#main .head {
  font-size: 26px; }

.container {
  margin: 10px; }

.one {
  color: red; }

.two {
  color: green; }

.three {
  color: blue; }

.something {
  -webkit-transition: all 1 ease-in-out;
  -ms-transition: all 1 ease-in-out;
  -moz-transition: all 1 ease-in-out;
  -o-transition: all 1 ease-in-out;
  transition: all 1 ease-in-out; }

/*# sourceMappingURL=main.css.map */
