@import 'compass/css3'

@import 'base/reset'
@import 'base/default'
@import 'components/components'
@import 'layout/layout'

body
  text-align: center

#main
  .head
    font-size: 26px

.container
  margin: 10px

.one
  color: red

.two
  color: green

.three
  color: blue

.something
  +vendor-prefix(transition, all 1 ease-in-out)
  
